option_settings:
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  PORT
    value:  5000
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  GEOCODER_URL
    value:  http://search.mapzen.com/v1/
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  AWS_DEFAULT_REGION
    value:  us-east-2